<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.common.dao.BuscketDAO">

    <sql id="busketColumns">
		bucket_no		AS busketNo,
		customer_id	AS customerId,
		study_id			AS teacherPw,
		bucket_date 	AS buscketDate
	</sql>

	<!-- 회원정보 1건 조회 -->
	<select id="selectBucket" resultType="busketBean"
		parameterType="busketBean">
		SELECT
			<include refid="busketColumns" />
		FROM
			bucket_study
		WHERE
			customer_id = #{customerId}
	</select>

	<!-- 회원정보 List 조회 -->
	<select id="selectBucketList" resultType="busketBean"
		parameterType="busketBean">
		SELECT
			<include refid="busketColumns" />
		FROM
			bucket_study
	</select>

	<insert id="insertBucket" parameterType="busketBean">
		INSERT INTO bucket_study
		(
			customer_id,
			study_id
		)
		VALUES
		(
			#{customerId},
			#{study_id}
		)
	</insert>

	<!-- 회원정보 수정 -->
	<update id="updateBucket" parameterType="busketBean">
		UPDATE bucket_study SET
			customer_id=#{customerId},
			study_id = #{studyId}
		WHERE
			customer_id = #{customerId}
	</update>

	<!-- 회원정보 삭제 -->
	<delete id="deleteBucket" parameterType="busketBean">
		DELETE FROM
			bucket_study
		WHERE
			customer_id = #{customerId}
		AND
			study_id = #{studyId}
	</delete>
    

</mapper>