<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.test.web.common.dao.TeacherDAO">

	<sql id="teacherColumns">
		teacher_id AS teacherId,
		teacher_pw
		AS teacherPw,
		teacher_name AS teacherName,
		teacher_cellphone AS
		teacherCellphone,
		teacher_birthnum AS
		teacherBirthnum,
		teacher_gender AS
		teacherGender,
		teacher_career AS
		teacherCareer,
		teacher_info AS teacherInfo,
		teacher_check AS teacherCheck
	</sql>

	<!-- 회원정보 1건 조회 -->
	<select id="selectTeacher" resultType="teacherBean"
		parameterType="teacherBean">
		SELECT
		<include refid="teacherColumns" />
		FROM
		teacher
		WHERE
		teacher_id = #{teacherId}
		<if test="teacherPw != null and teacherPw != ''">
			AND teacher_pw=PASSWORD(#{teacherPw})
		</if>
	</select>

	<!-- 회원정보 List 조회 -->
	<select id="selectTeacherList" resultType="teacherBean"
		parameterType="teacherBean">
		SELECT
		<include refid="teacherColumns" />
		FROM
		teacher
	</select>

	<insert id="insertTeacher" parameterType="teacherBean">
		INSERT INTO teacher
		(
		teacher_id,
		teacher_pw,
		teacher_name,
		teacher_cellphone,
		teacher_birthnum,
		teacher_gender,
		teacher_career,
		teacher_check,
		teacher_info
		)
		VALUES
		(
		#{teacherId},
		PASSWORD(#{teacherPw}),
		#{teacherName},
		#{teacherCellphone},
		#{teacherBirthnum},
		#{teacherGender},
		#{teacherCareer},
		#{teacherCheck},
		#{teacherInfo}
		)
	</insert>

	<!-- 회원정보 수정 -->
	<update id="updateTeacher" parameterType="teacherBean">
		UPDATE teacher SET
		teacher_id=#{teacherId}
		<if test="teacherPw != null and teacherPw != ''">
			,teacher_pw = PASSWORD(#{teacherPw})
		</if>

		<if test="teacherName != null and teacherName != ''">
			,teacher_name = #{teacherName}
		</if>

		<if test="teacherCellphone != null and teacherCellphone != ''">
			,teacher_cellphone = #{teacherCellphone}
		</if>

		<if test="teacherBirthnum != null and teacherBirthnum != ''">
			,teacher_birthnum = #{teacherBirthnum}
		</if>

		<if test="teacherGender != null and teacherGender != ''">
			,teacher_gender = #{teacherGender}
		</if>

		<if test="teacherCareer != null and teacherCareer != ''">
			,teacher_career = #{teacherCareer}
		</if>
		<if test="teacherCheck != null and teacherCheck != ''">
			,teacher_check = #{teacherCheck}
		</if>
		<if test="teacherInfo != null and teacherInfo != ''">
			,teacher_info = #{teacherInfo}
		</if>

		<!-- <if test="token != null and token != ''"> ,token = #{token} </if> -->
		WHERE
		teacher_id = #{teacherId}
	</update>

	<!-- 회원정보 삭제 -->
	<delete id="deleteTeacher" parameterType="teacherBean">
		DELETE FROM
		teacher
		WHERE
		teacher_id = #{teacherId}
	</delete>

	<!-- 회원정보 리스트 전체 갯수 조회 -->
	<select id="selectTeacherListTotalCount" resultType="int" parameterType="pagingBean">
	    SELECT COUNT(*) 
	    FROM teacher
	</select>

</mapper>