@chatset "utf-8"
    
body{
    width: 100%;
}
section{
    margin: 90px auto 0;
    text-align: center;
    width: 1100px;
    display: flex;
}
section:after{
    content: "";
    display: block;
    clear: both;
}
div{
    font-size: 14px;
}
#title{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#scheduled amount{
    margin-left:5px; margin-top:30px; width:auto;
}
#amount{
    float: right;
    font-size: 25px;
    color: deepskyblue;
}
#amount:after{
    content: "";
    display: block;
    clear: both;
}
#section-left{
    flex: 2;
    text-align: left;
    margin-right: 50px;
    margin-top: 30px;
}
#section-right{
    width: 50%;
    flex: 4;
    text-align: left;
    margin-left: 10px;
    margin-top: 30px;
}
#section-right #nicepay{
    margin-left: 34px;
}
#section-right #input-group{
    margin-left: 34px;
}

div #text{
    text-align: center;
    border-radius: 5px;
    background-color: aquamarine;
    margin-left: 80px;
    padding: 15px;
}
div #text-tail{
    width: 0px;height:0px;
    border-right:10px solid transparent;border-bottom:50px solid aquamarine; 
    transform:rotate(225deg);
    -ms-transform:rotate(225deg);
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);

    margin-left: 72px;
    margin-top:21px;
    position: absolute;
    border-width: 15px;
    background-color: aquamarine;
}
.image-wrap {
	        -webkit-border-radius: 50em;
	        -moz-border-radius: 50em;
	        border-radius: 50em;
            float: left;
        }
.image-wrap:after{
    content: "";
    display: block;
    clear: both;
}
#nicepay{
    width: 95%; border-radius: 5px;
    background-color: aqua;
}
#nicepay{
    display: flex;
}
#nicepay:after{
    content: "";
    display: block;
    clear: both;
}
#nicepay-left{
    flex: 1;
    text-align: left;
    margin: 30px 0px 30px 10px;
}
#nicepay-right{
    flex: 4;
    margin: 10px 10px 3px 7px;
    text-align: left;
}
#input-group{
    display: flex;
}
#input-group:after{
    content: "";
    display: block;
    clear: both;
}
#input{
    font-family:sans-serif;
            font-size: 20px;
            font-weight: bold; margin-top:40px;
    padding-right: 30px;
}
#inputMoney{
    flex: 1;
    margin-top: 40px;
    height: 30px;
    margin-right: 10px;
}
#input-button{
    margin-top: -20px;
}
/**************************
          DEFAULT BOOTSTRAP STYLES
        **************************/

.btn {
          display: inline-block;
          padding: 6px 12px;
          margin-bottom: 0;
          font-size: 14px;
          font-weight: normal;
          line-height: 1.42857143;
          text-align: center;
          white-space: nowrap;
          vertical-align: middle;
          cursor: pointer;
          -webkit-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;
          background-image: none;
          border: 1px solid transparent;
          border-radius: 4px;
          padding: 10px 16px;
        }

        .btn-lg {
          font-size: 18px;
          line-height: 1;
          border-radius: 6px;
        }

        .btn-primary {
            margin-top: 10px;
          float: right;
          color: #fff;
          background-color: #428bca;
          border-color: #357ebd;
        }

        .btn-primary:hover,
        .btn-primary:focus,
        .btn-primary:active,
        .btn-primary.active,
        .open .dropdown-toggle.btn-primary {
          color: #fff;
          background-color: #3276b1;
          border-color: #285e8e;
        }

        /***********************
          RAISED BUTTONS
        ************************/
        .btn-primary.raised {
            box-shadow: 0 3px 0 0 #007299;
                margin-bottom: 20px;
        }
        }
        .btn-primary.raised:active, .btn-primary.raised.active {
            background: #33a6cc;
            box-shadow: none;
            margin-bottom: -3px;
            margin-top: 12px;
        }

        /***********************
          CUSTON BTN VALUES
        ************************/

        .btn {
            padding: 7px 14px 14px 14px;
            border: 0 none;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        .btn:focus, .btn:active:focus, .btn.active:focus {
            outline: 0 none;
        }

        .btn-primary {
            float: right;
            background: #0099cc;
            color: #ffffff;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
            background: #33a6cc;
        }
        .btn-primary:active, .btn-primary.active {
            background: #007299;
            box-shadow: none;
            margin-top: 13px;
        }
#title1{
    margin-left: 30px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
}
#card{
    margin-top: 7px;
    margin-left: 30px;
}
.end{
     padding: 7px 30px 14px 34px;
}

.apply{
    margin-top:50px;
}

.apply:active{
    margin-top: 55px;
}
.end:active{
    padding-top: 11px;
}
#row2{
    width: 690px;    
} 
#col1{
    width:1px;height:340px; background-color:#999999;
}
#usable-text{
    margin-left:200px; float:left;
}

@media screen and (max-width:1024px){
section{
    margin: 90px auto 0;
    text-align: center;
    width: 90%;
    display: flex;
}
#row2{
    width: 100%;    
}
#div-card{
    margin-top: 7px;
    margin-right: -21%;
}
#input{
    font-size: 16px;
}
}

@media screen and (max-width:767px){
    div{
                font-size: 13px;
            }
    section{
    display: block;
    width: 80%;
}
#col1{
     display: none;   
}
#section-left{
    width: 100%;
}
#section-right{
    width: 100%;
}
#input-group{
    text-align: center;
    display: block;
}
#usable{
    margin-left: -30%;  
}
#div-card{
    width: 100%;
}
#nicepay{
    width: 94%;
}
#card{
    margin-left: 20px;
}
#input{
    font-size: 20px;
}
}